@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");


	#t1 {
		display: block;
	}

	#t2 {
		display: block;
	}

	#t3{
		display: block;

	}

	.container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		height: 100%;
		left: 0;
		background-color: #DAE0E6;
		display: flex;
		width: 100%;
		margin-top: 2.79em;
		bottom: 1px;
	}

	.post_container{
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		width: 50%;
		height: 53%;
		background-color: white;
	}

	.toptitle{
		color: #2e3450;
		display: flex;
		align-self: center;
		justify-content: flex-start;
		padding-right: 640px;
		font-family: 'Arial', sans-serif;
	}

	.buttons {
		justify-content: stretch;
		border-radius: 5px;
		align-self: flex-start;
		display: flex;
		height: 15%;
		width: 100%;
	}

	.button{ /*Butoes do topo*/
		outline: none;
		border: 1px solid #cdcdcd;
		border-top: none;
		background: white;
		width: 33.33333%;
		color: rgb(135, 138, 140);
		font-family: 'Arial', sans-serif;
		font-size: 16px;
	}

	.button:focus{ /*quando o butao esta selecionado*/
		background-color: white; /*#DAE0E6*/
		border-bottom: 2px solid rgb(0, 121, 211);
		color: rgb(0, 121, 211);
	}


	.button:hover{
		cursor: pointer;
		background-color: rgb(242, 248, 253);
	}

	.btn1{
		border-right: none;
		border-top-left-radius: 9px;
		border-left: none;
	}

	.btn3{
		border-left: none;
		border-top-right-radius: 9px;
		border-right: none;
	}

	.areaT{ /*titulo*/
		outline: none;
		height: 25px;
		border-radius: 3px;
		border: 1px solid #cdcdcd;
		display: flex;
		width: 94.272%;
		justify-content: space-around;
	}

	.title_text{ /*caixa que contem o titulo*/
		padding-bottom: 6px;
		padding-top: 8px;
		height: 10%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.post_text{
		justify-content: space-around;
		display: flex;
		align-items: center;
		padding-bottom: 5px;
	}

	textarea{ /**/
		width: 94.272%;
		outline: none;
		resize: none;
		overflow: auto;
	}

	.areaP{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 210px;
		width: 94.272%;
		border: 1px solid #cdcdcd;
		border-radius: 3px;
	}

	.areaL{
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #cdcdcd;
		border-radius: 3px;
		height: 66px;
	}

	.areaI{
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid #cdcdcd;
		border-radius: 3px;
		height: 66px;
	}

	.areaP:focus, .areaL:focus, .areaT:focus, .areaI:focus{
		border: 1px solid black;
		border-radius: 3px;
	}

	.text {
		outline: none;
		width: 100%;
	}

	.buttonsQ {
		width: 100%;
		justify-content: flex-end;
		display: flex;
	}

	.btn{
		display: flex;
		align-items: center;
		padding-right: 18.5px;
	}

	.b{
  		padding: 8px 16px;
  		text-align: center;
  		text-decoration: none;
  		font-size: 13px;
		font-family: 'Arial Rounded MT Bold',sans-serif;
  		transition-duration: 0.1s;
		border-radius: 3px;
		outline: none;
	}

	.cnl{
		border: 1px solid red;
		color: white;
		cursor: pointer;
		opacity: 0.5;
		background-color: red;
	}

	.cnl:hover{
		opacity: 1;
	}

	.pst{
		border: 1px solid rgb(50, 147, 219);
		color: white;
		cursor: pointer;
		opacity: 0.5;
		background-color: rgb(50, 147, 219);
	}

	.pst:hover{
		opacity: 1;
	}

	.upld{
		font-family: 'Arial Rounded MT Bold', sans-serif;
		outline: none;
		padding: 3px 5px 3px 5px;
		color: #0079D3;
		font-size: 14px;
		border: 1.2px solid #0079D3;
		border-radius: 3px;
		background: white;
	}

	.upld:hover{
		cursor: pointer;
		opacity: 0.7;
	}

	.dragtext{
		font-family: 'Arial Rounded MT Bold', sans-serif;
		color: #0079D3;
	}

	.inputfile{ /*hidding the input type file*/
		display: none;
	}

	a{
		-moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
		border-bottom: dotted 1px;
		color: inherit;
		text-decoration: none;
	}

	a:hover {
		border-bottom-color: transparent;
		color: #9bf1ff !important; /*Get Started color*/
	}

		a:active {
			color: #53e3fb !important;
		}

	#header {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		color: white;
		justify-content: space-between;

		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		background-color: #2a2f4a;
		box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.15);
		cursor: default;
		font-weight: 600;
		height: 3.25em;
		left: 0;
		letter-spacing: 0.25em;
		line-height: 3.25em;
		margin: 0;
		position: fixed;
		text-transform: uppercase;
		top: 0;
		width: 100%;
		z-index: 10000;
	}

		#header .logo {
			border: 0;
			display: inline-block;
			font-size: 0.8em;
			height: inherit;
			line-height: inherit;
			padding: 0 1.5em;
		}

		#header .logo span{
			display:inline-block;
		}

		#header .logo strong {
			-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			background-color: #ffffff;
			color: #242943;
			display: inline-block;
			line-height: 1.65em;
			margin-right: 0.325em;
			padding: 0 0.125em 0 0.375em;
		}

		#header .logo:hover strong {
			background-color: #9bf1ff;
		}

		#header .logo:active strong {
			background-color: #53e3fb;
		}

		#header nav {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-justify-content: -moz-flex-end;
			-webkit-justify-content: -webkit-flex-end;
			-ms-justify-content: -ms-flex-end;
			justify-content: flex-end;
			-moz-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
			height: inherit;
			line-height: inherit;
		}

			#header nav a {
				border: 0;
				display: block;
				font-size: 0.8em;
				height: inherit;
				line-height: inherit;
				padding: 0 0.75em;
				position: relative;
				vertical-align: middle;
			}

		#header.reveal {
			-moz-animation: reveal-header 0.35s ease;
			-webkit-animation: reveal-header 0.35s ease;
			-ms-animation: reveal-header 0.35s ease;
			animation: reveal-header 0.35s ease;
		}

